<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../GlobalAssets//css/SourceCode.css"/>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>

    <script src="./js/helpers.js"></script>
    <script src="./js/controler.js"></script>
    <script src="./js/CountdownTimer.js"></script>
    <script src="./js/main.js"></script>

    <title>KTimer</title>
</head>
<body>
    <div class="container">
        <h1>KTimer</h1>
        <h2 id="TimerScreen"></h2>

        <div>
            <button id="StartPauseButton" onclick="HandleStartPauseButton()">Start</button>
            <button onclick="HandleStopButton()">Stop</button>
        </div>

        <button id="SetTimerButton" onclick="HandleSetTimerButton()">Set Timer</button>
    </div>
</body>
</html>